:root {
    --transparent-background: rgba(0,0,0,0.8);
    --panel-color:#302c2c;
  }

* {
    _border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}


@media (max-width: 1080px) {

    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .character-info{
        max-width: 50%;
        min-width: 50%;
    }
  
    .character-selection, .character-details{
        min-width: 50%;
    }
}

/*COSAS GENERALES*/

/* body {
    box-shadow: 0 0 0 black, 0 0 6em #8a4d0f inset;
    background: #fffef0;
    margin: 0;
    padding: 2em;
} */

body {
background-image: url(../images/others/table4.jpeg);
background-color: black;



width: 100%;
}

.row{
    min-height: 100vh;
}

p{
    color: white;
    text-align: center;
}

h1,h2, h4, h5, h3 ,h6{
    text-align: center;
    color: white;
  
}
h1,h2,h3{
    font-family: 'Mirza', serif;
}

#pageTitle{
    font-family: 'Nova Cut', system-ui;
}



/* #region HEADER */

.header {
    width: 100%;
    height: 100%;
    _background-color: black;
    color: white;
}

.header-container {
    text-align: center;
}


#pageTitle {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header-dice {
    max-width: 50px;
    margin-bottom: 30PX;
}


/* #endregion */


/* #region LEFT CONTAINER */


.container-central-panel{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:70vh ;
    width: 100%;
    padding: 30px;
    _background-color: var(--transparent-background);
    border-radius: 20px;
    color: white;
    flex-direction: column;
}

.sendButton{
    display: flex;
    margin: 20px; 
}

.character-info {
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--panel-color);
    margin: 5px;
}

.align-img{
    width: 200px;
}

.character-info:hover, .box:hover {
    background-color: #736a6a;
}

.character-title{
    margin-bottom: 30px;
}

#ability-panel,#avatar-panel{
    background-color: var(--panel-color);
    padding: 50px;
    border-radius: 20px;
}

.info-title{
    padding: 10px;
    border-bottom: 1px solid white;
}
.character-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
    border-radius: 20px;
    margin-left: 20px;
    padding: 15px;
    background-color: var(--transparent-background);
    text-align: center;
    margin-top: 20px;
}
   
.character-info img {
    margin-right: 10px;
    width: 60px;
    height: 50px;
    justify-content: center;
}

.character-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.selection-image{
    max-width: 50%; 
    max-height: 50%; 
    border-radius: 100px;
}

.form-avatar-input{
    margin-top: 20px;
    
}

.avatar-label{
    font-size: 18px; 
}

.input-group-text{
    width: 70px;
}

#numeroInput{
    text-align: center;
}
/* #endregion */



/* #region CENTER CONTAINER */
.central-panel{
    height: 500hv;
}

.central-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.classes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#class-panel, #race-subrace-panel, #alignment-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuir el espacio disponible entre las cajas */
}


.box, .box-class, .box-alignment {
    width: 200px;
    text-align: center;
    flex: flex;
    background-color: var(--panel-color);
    color: #fff;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    max-width: calc(33.3333% - 20px);
    box-sizing: border-box;
    flex-direction: column; 
    justify-content: center; 
   }


   .box-race{
    text-align: center;
    flex: flex;
    padding-top:16px;
    padding-bottom:16px;
    padding-left:8px;
    padding-right:8px;
    background-color:var(--panel-color);
    box-shadow: 0px 3px 4px 4px #5a401d;
    width:220px;
    height:220px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    
   }

.central-panel img{
    width: 100px;
    height: same-as-width;
    margin:auto;
}


#welcome-panel{
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--panel-color);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.central-panel-detail-info{
    width: 100%;
}


.btn-container, .submit-btn {
    text-align: center;
}
.form-name{
    width: 20%;
    margin: 10px;
}
.create-button{
    width: 200px;
    margin: 50px;
}


#user-avatar{
    padding-top:16px;
    padding-bottom:16px;
    padding-left:8px;
    padding-right:8px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 2px 2px 3px #dadada;
    -webkit-transform:rotate(4deg);
    -o-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    width:200px;
    height:200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.class-avatar{
    padding-top:16px;
    padding-bottom:16px;
    padding-left:8px;
    padding-right:8px;
    background-color:var(--panel-color);
    box-shadow: 0px 2px 2px 3px #bba1a1;
    width:150px;
    height:150px;
    margin: 10px;
}


/* #endregion */


/* #region AVATAR */


.modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.50rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0.25rem 0.25rem;
    color: #41403E;
    background-color: beige;
    outline: none;
    box-shadow: 1em 1.5em 1.5em -1em rgba(0, 0, 0, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-sizing: border-box;
    border: solid 0.1em #4140344E;
    width: fit-content;
    max-width: 99%;
    overflow: hidden;
    margin-right: 20px;
}

.summary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 20px;
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.50rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0.25rem 0.25rem;
    color: #41403E;
    background-color: beige;
    outline: none;
    box-shadow: 1em 1.5em 1.5em -1em rgba(0, 0, 0, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-sizing: border-box;
    border: solid 0.1em #4140344E;
    overflow: hidden;
    margin-right: 20px;
}




.modal-dialog{
    height: 80vh;
}
.summary .text, .card-text{
    color: black;
}
.table{
    padding-top:16px;
    padding-bottom:16px;
    padding-left:8px;
    padding-right:8px;
    background-color:var(--panel-color);
    box-shadow: 0px 2px 2px 3px #bba1a1;
    width:150px;
    margin-bottom: 50px;

}

.table th, td{
    font-size: 0.9rem;
}


.panel-options{
    font-size: 1.5rem;
}

.card-text{
    font-size: 1.25rem;
    padding: 10px;
}


/* #endregion */

/* #region FOOTER */
.container-footer{
    background-color: black;
    color: white;
    height: 100px;
    margin-top: 20px;
}

#developedBy{
    padding-top: 40px;
}

/* #endregion */

/* #region MODAL */
.modal-dialog p{
    color: black;
}

#modal-race-img ,#modal-class-img  {
background-color: black;
border-radius: 25px;
width: 160px;


}
/* #endregion */

#dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ability-panel span{
    background-color: white;
    color: black;
    width: 50px;
} 

#ability-panel {
    display: none;
    text-align: center;
}

#ability-container{
    margin-top: 20px;
}

.dice{
    width: 60px!important;
    height: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 1.5rem;
    transition:1s ease-in-out;
    border-radius: 10px;
}

.dice-total{
    transition:1s ease-in-out;
}

#diceButton{
    width: 80px;
    margin: 30px;
}
